*{
    background-image: url(a);
}

.wrapper{
    background-color: #ffffff;
}
body{
padding: 0%;
font-family: sans-serif;
padding: 4%;
background-color: #ffffff;

}

header{
    width:100%;	/* usamos todo lo largo */
    height:auto;	/* la altura se acopla al contenido */
    background-color: #333;	/* color del header */
    padding:1em;	/* espacio dentro de nuestra caja de 1em */
}
nav{
   /* usamos una familia de fuentes */
    font-weight: bold; /* le damos peso bold */
    font-size: 0.8em;	/* definimos el tamaño a 0.8em */
 }
 nav ul {	/* estilos para unordered list */
    margin: 0px;	/* el  < ul> dentro de  < nav> no tiene margen */
    padding: 5px 0px 5px 30px;	/* padding: top right bottom left; */
 }
 nav li {
    display: inline;	 /* los elementos  < li> se muestran en una línea */
    margin-right: 40px;	/* margen de los elementos de 40px a la derecha */
 }
 nav li a {	/* estilos de los elementos listados en forma de enlace */
    color: #ffffff;	/* color de la fuente */
    text-decoration: none;	/* quitamos el subrayado para mejor presentación */
 }
 nav li a:hover, nav li a.current { /* aplicamos esta regla para el :hover y para la clase current */
    color: #FF0;	/* cambiamos el color de la fuente a amarillo */
    text-decoration: underline;	/* colocamos de vuelta el subrayado para indicar al elemento */
 }

h3{
    color: #c63b11;
    font-family: sans-serif;
}


 article {

    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    width: 40%;
    
   }

   
   
   article h1, h3 {
        font-weight: bold;}

   article h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
   }
   article h3 {	
    font-size: 1em;
    margin-bottom: 0.5em;
   }
   article p {
    display: inline;
    width: 75%;
   }

   ul.popular-recipes{

   color: #c63b11;
   list-style-type: none;
   padding: 10px;
   border: 1px solid #ddd;
   width: 15%;
   float: left;
   
   }
   a{
    color: #c63b11;
    text-decoration: none;
    font-size: 20;
    
   }
   p{
       color: black;
   }
   ul li{
    padding: 16px;
    border-bottom: 1px solid #ddd;

   } 


   footer{
    width:100%;	/* usamos todo lo largo */
    height:auto;	/* la altura se acopla al contenido */
    background-color: #333;	/* color del header */
    padding:1em;	/* espacio dentro de nuestra caja de 1em */
    position: fixed;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-family: sans-serif;

   }
   
