*{
    box-sizing: border-box;
   
}

.wrapper{
    background-color: #ffffff;
}
body{
padding: 0%;
font-family: sans-serif;
padding: 4%;
background-color: #ffffff;

}

figure{
    
    border: 1px, gray;
}

header{
    width:100%;	
    height:auto;	
    background-color: rgb(126, 126, 126);
    padding:1em;
    	
}
nav{
   
    font-weight: bold; 
    font-size: 0.8em;	
 }
 nav ul {	
    margin: 0px;	
    padding: 5px 0px 5px 30px;
 }
 nav li {
    display: inline;	 
    margin-right: 40px;	
 }
 nav li a {	
    color: #ffffff;	
    text-decoration: none;
 }
 nav li a:hover, nav li a.current { 
    color: #FF0;	
    text-decoration: underline;	
 }
h1{
    color: #ffffff;
}
h3{
    color: #c63b11;
    font-family: sans-serif;
}

section {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #ffffff;
    
}

figure{
    float:left;
    width: 70%;
    padding: 30px;
    border: 1px solid rgb(180, 180, 180);
}
 article {

    float: left;
    padding: 20px;
    width: 70%;
    background-color: #ffffff;
    text-align: left;
  
   }



article h1, h3 {
        font-weight: bold;}

   article h1 {
    font-size: 2em;
  
   }
   article h3 {	
    font-size: 1em;
  
   }
   article p {
    display: inline;
    width: 75%;
   }




   ul.popular-recipes{

   color: #c63b11;
   list-style-type: none;
   padding: 10px;
   border: 1px solid #ddd;
   width: 15%;
   float: left;
   
   }

   a{
    color: #c63b11;
    text-decoration: none;
    font-size: 20;
    
   }
   
   p{
       color: black;
   }
   ul li{
    padding: 16px;
    border-bottom: 1px solid #ddd;

   } 


   footer{
    width: 70%;
    background-color: #333;	/* color del header */
    padding: 20px;
    color: #ffffff;

   }
   
